spring:
  profiles:
    active:
    - dev

---

server:
  port: 3355
spring:
  profiles: dev
  application:
    name: microservicecloud-config-client-dev
eureka:
  instance:
    hostname: springcloudconfig3355-client              #eureka˵ʵ
  client:
    service-url:
       # Eureka ServerĵַѯעҪַ
#       defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/

---

server:
  port: 3356
spring:
  profiles: test
  application:
    name: springcloudconfig-client-test
eureka:
  instance:
    hostname: springcloudconfig3356-client              #eureka˵ʵ
  client:
    register-with-eureka: false      #falseʾעעԼ
    fetch-registry: false            #falseʾԼ˾עģҵְάʵҪȥ
    service-url:
       # Eureka ServerĵַѯעҪַ
#       defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/


